*, *::after, *::before {

    box-sizing: border-box;
}

.showCorrect .correct {
    color: green;
}

.answersList {
    list-style-type: lower-alpha;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}